@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Great+Vibes&display=swap');
body {
    background-image:linear-gradient(black, rgb(0, 68, 68),rgb(0, 68, 68), rgb(165, 87, 42), rgb(100, 44, 6),rgb(80, 36, 0), black);
    color: rgb(95, 165, 165);
    font-family: 'Great Vibes', sans-serif;
}
a {
    text-decoration: none;
}
/*-----header-----*/
nav li a{
    color: rgb(95, 165, 165);
}
#menu {
    text-align: center;
    font-size: 140%;
    list-style-type: none;
    margin-top: 15px;
    padding: 10px, 0;
    position: sticky;
}
#menu li {
    margin-right: 15px;
    display: inline;
}
/*-----landing page-----*/
.landing-page {
    /*----Photo by KoolShooters from Pexels----*/
    background-image: url('../images/hero.jpg');
    background-position: center;
    background-size: cover;
    height: 750px;
    background-repeat: no-repeat;
    margin: 0;
}

h1 {
    font-family: 'Corinthia', sans-serif;
    color: rgb(95, 165, 165);
    font-size: 400%;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: black;
}
/*---colors---*/

