@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');
body {
    background-color: black;
    color: rgb(95, 165, 165);
    font-family: 'Roboto', sans-serif;
}
html, body {
    height: 100%;
    margin: 0;
}
a {
    text-decoration: none;
}
.page-content {
    min-height: 100%;
    margin-bottom: -120px;
}
.page-content::after {
    content: "";
    display: block;
}
/*---colors---*/
.hero-image h1 a {
    color: rgb(95, 165, 165);
}
.music h1 a {
    color: rgb(95, 165, 165);
}
.social-networks li a {
    color: rgb(95, 165, 165);
}

/*-----header-----*/
#menu li a{
    color: rgb(95, 165, 165);
}
#menu {
    text-align: center;
    font-size: 1.4rem;
    list-style-type: none;
    margin: 0;
    padding-left: 0px; 
    font-weight: 100;
    background-image:linear-gradient(to right, rgba(94, 45, 13, 0.9),black, rgba(94, 45, 13, 0.9));
    height: 30px;
    padding-top: 7px;
}
#menu li {
    /* margin-right: 15px; */
    display: inline;
}
#menu a:hover {
    border-bottom: 1px solid;
    color: rgb(210, 132, 30);
}

/*-----landing page-----*/
.hero-image {
    /*----Photo by KoolShooters from Pexels----*/
    background-image: url('../images/hero.jpg');
    background-position: center center;
    background-size: cover;
    height: 750px;
    background-repeat: no-repeat;
    animation-name: hero-motion;
    animation-duration: 4s;
    animation-fill-mode: backwards;
    max-width: 100%;
}
#hero-outer {
    /* height: 750px; */
    overflow: hidden;
}
@keyframes hero-motion {
    from {
transform: scale(1.1);
    }
    to {
transform: scale(1);
    }
}

.hero-image h1 {
    font-family: 'Corinthia', cursive;
    font-size: 450%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: linear-gradient(black, black, rgba(0,0,0,0));
    margin-top: 0;
    margin-bottom: 0;
}
.hero-image h1 a:hover {
    color: rgb(210, 132, 30)
}
#fade {
    background-image: linear-gradient(rgba(0, 0, 0, 0),black,black);
    height: 50px;
    width: 100%;
    position: absolute;
    margin-top: 590px;
}
#about-fade {
    background-image: linear-gradient(rgba(0, 0, 0, 0),black,black);
    height: 50px;
    width: 100%;
    position: absolute;
    margin-top: 590px;
}

/*----footer----*/

.social-networks {
    text-align: center;
    text-decoration: none;
    margin: 0; 
    padding: 25px 0;
}
.social-networks li {
    display: inline;
    font-size: 1.5rem;
    margin: 1%;
    padding: 3%;
}
.social-networks a:hover {
    color: rgb(210, 132, 30)
}
/*----promo video----*/
#promovid-heading {
    font-family: 'Corinthia', cursive;
    text-align: center;
    font-size: 3.5rem;
}
.promo-vid iframe {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 750px;
    height: 450px;
}
/*----Tour Dates----*/
.tour-dates {
margin-bottom: 50px;
margin-top: 50px;
}
#tourdates h1{
    font-family: 'Corinthia', cursive;
    text-align: center;
    font-size: 3.5rem;
    margin: 85px 0px 20px;
}
.tourdate-item {
    float: right;
    width: 33%;
    position: relative;
    text-align: center;
    height: 150px;   
}
.button-div {
    height: 115px;
    padding-top: 35px;
}
.button {
    margin-top: 35px;
    border-radius: 20px;
    padding: 10px 25px;
    background-color: rgb(95, 165, 165);
    border-style: outset;
    color: rgb(94, 45, 13);
}
.button:hover {
    background-color: rgb(210, 132, 30);
}
.button:active {
    border-style: inset;
}
h2 {
    font-size: 2rem;
    font-weight: 200;
}
.venue {
    text-align: left;
    margin-left: 7%;
    width: 26%;
}
.venue h2 {
    margin-bottom: 0;
}
.venue p {
    margin-top: 0;
    font-size: 1.5rem;
    text-align: left;
}
#backup {
    font-size: 2rem;
    color: rgb(95, 165, 165);
    text-align: center;
}
#backup a{
    font-size: 2rem;
    color: rgb(95, 165, 165);
}
#backup a:hover {
    color: rgb(210, 132, 30);
}
/*----newsletter signup----*/
.signup {
    font-size: 1.5rem;
    text-align: center;
    background-image: linear-gradient(to right, rgb(210, 132, 30), rgba(184, 103, 28, 0.541), rgba(94, 45, 13, 0.342), rgba(184, 103, 28, 0.541), rgb(210, 132, 30));
}
.signup input {
    margin-bottom: 25px;
}
.signup h2 {
    margin-bottom: 25px;
    font-weight: 300;
    text-decoration: underline;
}
.text-input {
    background: transparent;
    color: rgb(210, 132, 30);
    border-width: 3px;
    width: 200px;
    height: 27px;
    font-size: 18px;
}
.text-input:hover {
    border-color: rgb(210, 132, 30);
}
.signup-button {
    border-radius: 20px;
    padding: 10px 25px;
    background-color: rgb(95, 165, 165);
}
.signup-button:hover {
    background-color: rgb(210, 132, 30);
}
/*------music page------*/
.music h1 {
        font-family: 'Corinthia', cursive;
        font-size: 450%;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 40px;
        margin-top: 0;
        animation-name: hero-motion;
        animation-duration: 4s;
        animation-fill-mode: backwards;
        max-width: 100%;
    }
 .music h1 a:hover {
        color: rgb(210, 132, 30)
    }
.albums h1 {
        font-family: 'Corinthia', cursive;
        font-size: 300%;
        text-align: center;
    }
.albums img {
    height: 400px;
    width: 400px;
     margin-bottom: 20px; 
}

#past-work {
    display: block;
    height: 650px;
} 
.shop {
    margin: 0;
    text-align: center; 
    width: 50%; 
    height: 400px;
    float: right;
}
.shop div{
    width: 100%;
}
.shop button {
    display: inline-block;
} 
/*-----about page------*/
#about-title {
    font-weight: 200;
    text-align: center;

    margin-bottom: 50px;
    position: absolute;
}

.about-text, .reviews {
    color: rgb(95, 165, 165);
    width: 400px;
    height: 300px;
    padding: 30px;
    margin-top: 60px;
    margin-left: 125px;
    margin-right: 125px;
    font-size: 1.7rem;
    border-radius: 50px;
    background-image: radial-gradient(rgba(0, 0, 0, 0.904),rgba(0, 0, 0, 0.808), rgba(94, 45, 13, 0.9)); 
    border-style: solid;
    position: absolute;
}
.about-text, .reviews h3, p{
    font-weight: 300;
    text-align: center;
}
/* .about-boxes {
    display: flex;
} */
.reviews {
    position: absolute;
    right: 0;
    font-size: 1.5rem;
}
/*-----media queries----*/
@media only screen and (min-width: 320px) and (max-width: 1190px) {
    /*about*/
    .about-text {
        margin-top: 0;
    }
    .about-text, .reviews {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        height: 260px;
    }
     .reviews {
         right: auto;
         margin-top: 50px;
     }
    #about-hero-outer {
        height: 860px;
    }
    #about-fade {
        margin-top: 0;
    }
}
@media only screen and (min-width: 480px) and (max-width: 850px) {
    /*change about/review section size and font size*/
    .promo-vid iframe {
        width: 400px;
        height: 350px;
    }
    .hero-image {
        background-image: url('../images/hero-sm.jpeg');
        max-width: 100%;
        height: 500px;
    }
    #fade {
        margin-top: 325px;
    }
    #backup {
        height: 50px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 850px) {
    .tourdate-item {
        width: 100%;
        float: none;
        text-align: center;
        margin-left: 0;
        height: 100px;
    }
    .tourdate-item p {
        text-align: center;
    }
    #wales-tour {
        display: flex;
        flex-direction: column-reverse;
    }
    #england-tour {
        display: flex;
        flex-direction: column-reverse;
    }
    .button-div {
        height: 75px;
        padding-top: 0;
    }
    /*---albums----*/
    .music h1 {
        margin-bottom: 0;
    }
    #promovid-heading {
        margin-top: 0;
    }
    .shop {
        width: 100%;
        float: none;
        text-align: center;
    }
    .shop div {
        height: 50px;
        padding-top: 20px;
        margin-bottom: 20px;
    }
    .shop img {
        display: block;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
    }
    #past-work {
        height: 1050px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 490px) {
    .hero-image {
        background-image: url('../images/hero-sm.jpeg');
        max-width: 100%;
        height: 300px;
    }
    #fade {
        margin-top: 125px;
    }
    .promo-vid {
        height: 250px;
    }
    .promo-vid iframe {
        width: 300px;
        height: 250px;
    }
    #promovid-heading {
        margin-bottom: 0;
    }
    /*music*/
    .shop img {
        height: 290px;
        width: 290px;
    }
    #past-work {
        height: 830px;
    }
    /*about*/
    .about-text, .reviews {
        height: 300px;
        width: 250px;
    }
    .about-text {
        margin-top: 0;
    }
    .about-hero {
        background-image: none;
    }
    #about-hero-outer {
        height: 935px;
    } 
}

