@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Great+Vibes&display=swap');
body {
    background-color: black;
    color: rgb(95, 165, 165);
    font-family: 'Great Vibes', sans-serif;
}
a {
    text-decoration: none;
}
/*-----header-----*/
#menu li a{
    color: rgb(95, 165, 165);
}
#menu {
    text-align: center;
    font-size: 140%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: sticky;
}
#menu li {
    margin-right: 15px;
    display: inline;
}
#menu-container {
    background-color: black;
    margin 0;
}
#menu a:hover {
    border-bottom: 1px solid;
    color: rgb(210, 132, 30);
}

/*-----landing page-----*/
#hero-image {
    /*----Photo by KoolShooters from Pexels----*/
    background-image: url('../images/hero.jpg');
    background-position: center center;
    background-size: cover;
    height: 750px;
    background-repeat: no-repeat;
    animation-name: hero-motion;
    animation-duration: 4s;
    animation-fill-mode: backwards;
}
#hero-outer {
    height: 750px;
    overflow: hidden;
}
@keyframes hero-motion {
    from {
transform: scale(1.1);
    }
    to {
transform: scale(1);
    }
}

#hero-image h1 {
    font-family: 'Corinthia', sans-serif;
    font-size: 450%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
    background-image: linear-gradient(black, black, rgba(0,0,0,0));
    margin-top: 0;
}
#hero-image h1 a:hover {
    color: rgb(210, 132, 30)
}
#fade {
    background-image: linear-gradient(rgba(0, 0, 0, 0),black,black);
    height: 50px;
    width: 100%;
    position: absolute;
    margin-top: 493px;
}
/*----footer----*/
.footer {
    /*used this site https://css-tricks.com/a-clever-sticky-footer-technique/*/
    position: sticky;
  top: 100vh;
    bottom: 0;
}
.social-networks {
    text-align: center;
    text-decoration: none;
}
.social-networks li {
    display: inline;
    font-size: 150%;
    margin: 1%;
    padding: 3%;
}
.social-networks a:hover {
    color: rgb(210, 132, 30)
}
/*----promo video----*/
.promo-vid h1 {
    text-align: center;
    font-size: 300%;
}
.promo-vid iframe {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/*----Tour Dates----*/
.tour-heading {
    text-align: center;
    font-size: 300%;
}
span {
    width: 33%;
    position: relative;
    float: right;
    text-align: center;
}

/*---colors---*/
h1 a {
    color: rgb(95, 165, 165);
}
.social-networks li a {
    color: rgb(95, 165, 165);
}

